.hp-counter {


  &__container {
    padding: 164px 146px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }

  &__subtitle {
    margin: 0;
    font-family: 'Yellowtail';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    color: var(--green-color);
    margin-bottom: 10px;
  }

  &__title {
    @include h2;
  }

  &__review {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image {
    border-radius: 100%;
    margin-bottom: 20px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__rating {
    display: flex;
    margin-bottom: 25px;
  }

  &__text {
    @include text;
    max-width: 780px;
    text-align: center;
    margin-bottom: 20px;
  }

  &__name {
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    color: var(--dark-blue-color);
    margin-bottom: 5px;
  }

  &__post {
    @include text;
    margin-bottom: 20px;
  }

  &__pagination {
    display: flex;
    justify-content: center;
  }

  &-btn {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__swiper-nav {

    .swiper-pagination-bullet {
      width: 8px;
      height: 8px;
      background: #C4C4C4;

      &-active {
        background-color: var(--green-color);
      }
    }
  }
}
