.quotes {
  background: #F1EDEA;
  border-radius: 30px;
  padding: 69px 59px;

  &__text {
    margin: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 165.4%;
    text-align: center;
    color: var(--dark-blue-color);
  }
}
