@mixin h1 {
  margin: 0;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 70px;
  line-height: 82px;
  color: var(--dark-blue-color);
}

@mixin h2 {
  margin: 0;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  color: var(--dark-blue-color);
}

@mixin h3 {
  margin: 0;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: var(--dark-blue-color);
}

@mixin h4 {
  margin: 0;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  color: var(--dark-blue-color);
}

@mixin h5 {
  margin: 0;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: var(--dark-blue-color);
}

@mixin h6 {
  margin: 0;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  color: var(--dark-blue-color);
}

@mixin text {
  margin: 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 165.4%;
  color: var(--black-color);
}
