<header class="header">
  <div class="header__container container-fluid">
    <a href="#" class="header__logo">
      <img loading="lazy" src="img/Logo.svg" class="image header__logo-image" width="37" height="54"
        alt="Logo of Organick"> Organick
    </a>
    <nav class="nav header__nav">
      <ul class="nav__list list-reset">
        <li class="nav__item"><a href="#" class="nav__link">Home</a></li>
        <li class="nav__item"><a href="#" class="nav__link">About</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Pages</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Shop</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Projects</a></li>
        <li class="nav__item"><a href="#" class="nav__link">News</a></li>
      </ul>
    </nav>
    <div class="header__actions">
      <div class="header__search">
        <div class="header__label">
          <input type="text" name="Поиск" class="input-reset header__input" placeholder="">
        </div>
        <img loading="lazy" src="img/search-icon.svg" class="image search-btn" width="56" height="56" alt="">
      </div>
      <div class="header__cart">
        <img loading="lazy" src="img/cart-icon.svg" class="image-cart" width="56" height="56" alt="">
        <p>Cart (0)</p>
      </div>
    </div>
  </div>
</header>