<section class="hp-about">
  <div class="container hp-about__container">
    <div class="hp-about__content">
      <h3 class="hp-about__subtitle">
        About Us
      </h3>
      <h2 class="hp-about__title">
        We Believe in Working
        Accredited Farmers
      </h2>
      <p class="hp-about__descr">
        Simply dummy text of the printing and typesetting industry. Lorem had ceased to
        been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.
      </p>
      <ul class="list-reset hp-about__list">
        <li class="hp-about__item point-item">
          <img loading="lazy" src="img/point-1-icon.svg" class="point-item__img" width="" height="" alt="">
          <div class="point-item__text">
            <h6 class="point-item__title">Organic Foods Only</h6>
            <p class="point-item__descr">Simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
          </div>
        </li>
        <li class="hp-about__item point-item">
          <img loading="lazy" src="img/point-2-icon.svg" class="point-item__img" width="" height="" alt="">
          <div class="point-item__text">
            <h6 class="point-item__title">Quality Standards</h6>
            <p class="point-item__descr">Simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
          </div>
        </li>
      </ul>
      <a href="#" class="btn">Shop Now <img loading="lazy" src="img/Aerrow.svg" class="btn-arrow" width="19" height="19"
          alt="Arrow right"></a>
    </div>
  </div>
</section>