<section class="hp-counter">
  <div class="container hp-counter__container">
    <div class="hp-counter__wrapper">
      <div class="hp-counter__heading">
        <h3 class="hp-counter__subtitle">
          Testimonial
        </h3>
        <h2 class="hp-counter__title">
          What Our Customer Saying?
        </h2>
      </div>
      <div class="swiper hp-counter__swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide hp-counter__review">
            <div class="hp-counter__review">
              <img loading="lazy" src="img/sara-taylor.png" class="image hp-counter__image" width="" height="" alt="">
              <div class="hp-counter__content">
                <div class="hp-counter__rating">
                  <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="28" height="27"
                    alt="rating">
                  <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="28" height="27"
                    alt="rating">
                  <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="28" height="27"
                    alt="rating">
                  <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="28" height="27"
                    alt="rating">
                  <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="28" height="27"
                    alt="rating">
                </div>
                <p class="hp-counter__text"> Simply dummy text of the printing and typesetting industry. Lorem Ipsum
                  simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been.</p>
                <p class="hp-counter__name">
                  Sara Taylor
                </p>
                <p class="hp-counter__post">Consumer</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="hp-counter__review">
              <img loading="lazy" src="img/sara-taylor.png" class="image hp-counter__image" width="" height="" alt="">
              <div class="hp-counter__content">
                <div class="hp-counter__rating">
                  <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="28" height="27"
                    alt="rating">
                  <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="28" height="27"
                    alt="rating">
                  <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="28" height="27"
                    alt="rating">
                  <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="28" height="27"
                    alt="rating">
                  <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="28" height="27"
                    alt="rating">
                </div>
                <p class="hp-counter__text"> Simply dummy text of the printing and typesetting industry. Lorem Ipsum
                  simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been.</p>
                <p class="hp-counter__name">
                  Sara Taylor
                </p>
                <p class="hp-counter__post">Consumer</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="hp-counter__review">
              <img loading="lazy" src="img/sara-taylor.png" class="image hp-counter__image" width="" height="" alt="">
              <div class="hp-counter__content">
                <div class="hp-counter__rating">
                  <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="28" height="27"
                    alt="rating">
                  <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="28" height="27"
                    alt="rating">
                  <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="28" height="27"
                    alt="rating">
                  <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="28" height="27"
                    alt="rating">
                  <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="28" height="27"
                    alt="rating">
                </div>
                <p class="hp-counter__text"> Simply dummy text of the printing and typesetting industry. Lorem Ipsum
                  simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been.</p>
                <p class="hp-counter__name">
                  Sara Taylor
                </p>
                <p class="hp-counter__post">Consumer</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="js-swiper-pagination-dynamic-element swiper-pagination"></div>
    </div>
  </div>
</section>