<section class="hp-shop">
  <div class="container hp-shop__container">
    <div class="hp-shop__heading">
      <h3 class="hp-shop__subtitle">
        Categories
      </h3>
      <h2 class="hp-shop__title">
        Our Products
      </h2>
    </div>
    <ul class="list-reset hp-shop__list">
      <li class="hp-shop__item">
        <p class="hp-shop__tag">
          Vegetable
        </p>
        <img loading="lazy" src="img/brocco.png" class="image hp-shop__image" width="" height="" alt="">
        <p class="hp-shop__name">Calabrese Broccoli</p>
        <div class="hp-shop__info">
          <div class="hp-shop__price">
            <p class="hp-shop__prev-price">
              $20.00
            </p>
            <p class="hp-shop__act-price">
              $13.00
            </p>
          </div>
          <div class="hp-shop__rating">
            <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="19" height="18"
              alt="rating">
            <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="19" height="18"
              alt="rating">
            <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="19" height="18"
              alt="rating">
            <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="19" height="18"
              alt="rating">
            <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="19" height="18"
              alt="rating">
          </div>
        </div>
      </li>
      <li class="hp-shop__item">
        <p class="hp-shop__tag">
          Vegetable
        </p>
        <img loading="lazy" src="img/brocco.png" class="image hp-shop__image" width="" height="" alt="">
        <p class="hp-shop__name">Calabrese Broccoli</p>
        <div class="hp-shop__info">
          <div class="hp-shop__price">
            <p class="hp-shop__prev-price">
              $20.00
            </p>
            <p class="hp-shop__act-price">
              $13.00
            </p>
          </div>
          <div class="hp-shop__rating">
            <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="19" height="18"
              alt="rating">
            <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="19" height="18"
              alt="rating">
            <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="19" height="18"
              alt="rating">
            <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="19" height="18"
              alt="rating">
            <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="19" height="18"
              alt="rating">
          </div>
        </div>
      </li>
      <li class="hp-shop__item">
        <p class="hp-shop__tag">
          Vegetable
        </p>
        <img loading="lazy" src="img/brocco.png" class="image hp-shop__image" width="" height="" alt="">
        <p class="hp-shop__name">Calabrese Broccoli</p>
        <div class="hp-shop__info">
          <div class="hp-shop__price">
            <p class="hp-shop__prev-price">
              $20.00
            </p>
            <p class="hp-shop__act-price">
              $13.00
            </p>
          </div>
          <div class="hp-shop__rating">
            <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="19" height="18"
              alt="rating">
            <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="19" height="18"
              alt="rating">
            <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="19" height="18"
              alt="rating">
            <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="19" height="18"
              alt="rating">
            <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="19" height="18"
              alt="rating">
          </div>
        </div>
      </li>
      <li class="hp-shop__item">
        <p class="hp-shop__tag">
          Vegetable
        </p>
        <img loading="lazy" src="img/brocco.png" class="image hp-shop__image" width="" height="" alt="">
        <p class="hp-shop__name">Calabrese Broccoli</p>
        <div class="hp-shop__info">
          <div class="hp-shop__price">
            <p class="hp-shop__prev-price">
              $20.00
            </p>
            <p class="hp-shop__act-price">
              $13.00
            </p>
          </div>
          <div class="hp-shop__rating">
            <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="19" height="18"
              alt="rating">
            <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="19" height="18"
              alt="rating">
            <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="19" height="18"
              alt="rating">
            <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="19" height="18"
              alt="rating">
            <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="19" height="18"
              alt="rating">
          </div>
        </div>
      </li>
      <li class="hp-shop__item">
        <p class="hp-shop__tag">
          Vegetable
        </p>
        <img loading="lazy" src="img/brocco.png" class="image hp-shop__image" width="" height="" alt="">
        <p class="hp-shop__name">Calabrese Broccoli</p>
        <div class="hp-shop__info">
          <div class="hp-shop__price">
            <p class="hp-shop__prev-price">
              $20.00
            </p>
            <p class="hp-shop__act-price">
              $13.00
            </p>
          </div>
          <div class="hp-shop__rating">
            <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="19" height="18"
              alt="rating">
            <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="19" height="18"
              alt="rating">
            <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="19" height="18"
              alt="rating">
            <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="19" height="18"
              alt="rating">
            <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="19" height="18"
              alt="rating">
          </div>
        </div>
      </li>
      <li class="hp-shop__item">
        <p class="hp-shop__tag">
          Vegetable
        </p>
        <img loading="lazy" src="img/brocco.png" class="image hp-shop__image" width="" height="" alt="">
        <p class="hp-shop__name">Calabrese Broccoli</p>
        <div class="hp-shop__info">
          <div class="hp-shop__price">
            <p class="hp-shop__prev-price">
              $20.00
            </p>
            <p class="hp-shop__act-price">
              $13.00
            </p>
          </div>
          <div class="hp-shop__rating">
            <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="19" height="18"
              alt="rating">
            <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="19" height="18"
              alt="rating">
            <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="19" height="18"
              alt="rating">
            <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="19" height="18"
              alt="rating">
            <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="19" height="18"
              alt="rating">
          </div>
        </div>
      </li>
      <li class="hp-shop__item">
        <p class="hp-shop__tag">
          Vegetable
        </p>
        <img loading="lazy" src="img/brocco.png" class="image hp-shop__image" width="" height="" alt="">
        <p class="hp-shop__name">Calabrese Broccoli</p>
        <div class="hp-shop__info">
          <div class="hp-shop__price">
            <p class="hp-shop__prev-price">
              $20.00
            </p>
            <p class="hp-shop__act-price">
              $13.00
            </p>
          </div>
          <div class="hp-shop__rating">
            <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="19" height="18"
              alt="rating">
            <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="19" height="18"
              alt="rating">
            <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="19" height="18"
              alt="rating">
            <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="19" height="18"
              alt="rating">
            <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="19" height="18"
              alt="rating">
          </div>
        </div>
      </li>
      <li class="hp-shop__item">
        <p class="hp-shop__tag">
          Vegetable
        </p>
        <img loading="lazy" src="img/brocco.png" class="image hp-shop__image" width="" height="" alt="">
        <p class="hp-shop__name">Calabrese Broccoli</p>
        <div class="hp-shop__info">
          <div class="hp-shop__price">
            <p class="hp-shop__prev-price">
              $20.00
            </p>
            <p class="hp-shop__act-price">
              $13.00
            </p>
          </div>
          <div class="hp-shop__rating">
            <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="19" height="18"
              alt="rating">
            <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="19" height="18"
              alt="rating">
            <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="19" height="18"
              alt="rating">
            <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="19" height="18"
              alt="rating">
            <img loading="lazy" src="img/star.svg" class="image rating-star _filled-star" width="19" height="18"
              alt="rating">
          </div>
        </div>
      </li>
    </ul>
    <a href="#" class="btn">Load More
      <img loading="lazy" src="img/Aerrow.svg" class="image btn-arrow" width="19" height="19" alt="arrow right">
    </a>
  </div>
</section>