<section class="newsletter">
  <div class="container newsletter__container">
    <h2 class="newsletter__title">
      Subscribe to our Newsletter
    </h2>
    <form action="#" class="form newsletter__form">
      <label class="form__label newsletter__label">
        <input type="email" required name="Email" class="input-reset newsletter__input form__input"
          placeholder="Your Email Adress">
      </label>
      <button class="btn-reset btn newsletter__btn form__btn">Subscribe</button>
    </form>
  </div>
</section>