<section class="off-banner">
  <div class="container off-banner__container">
    <ul class="list-reset off-banner__list">
      <li class="list-item off-banner__item">
        <!-- //need to wrap it in <a></a> -->
        <h2 class="off-banner__title">
          Natural!!
        </h2>
        <p class="off-banner__descr">
          Get Garden Fresh Fruits
        </p>
      </li>
      <li class="list-item off-banner__item">
        <h2 class="off-banner__title">
          Offer!!
        </h2>
        <p class="off-banner__descr">
          Get 10% off
          on Vegetables
        </p>
      </li>
    </ul>
  </div>
</section>